@import 'reset.scss';
@import 'variables.scss';

.wrapperContainer {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    background-color: #edeef3;
    background-size: cover;

    @import 'footer.scss';

    .wrapperContainer_content {
        width: 79.1%;
        margin: 0 auto;

        color: $content-color;

        font-family: $font-stack;

        @import 'dribbleHeaderModule.scss';

        a {
            color: inherit;
        }

        .button {
            position: relative;

            display: inline-block;

            min-width: 100px;

            cursor: pointer;
            transition: all .2s;
            text-align: center;
            text-decoration: none;
            letter-spacing: .14em;
            text-transform: uppercase;

            color: inherit;
            border: 1px solid #d9d8de;
            border-radius: 5px;
            outline: none;

            font-size: .7em;
            font-weight: $bold-weight;

            &:hover {
                color: $white-color;
                border-color: $button-hover-borderColor;
                background-color: $button-hover-bgColor;
            }

            .fa {
                position: absolute;
                top: 17px;
                left: 33px;

                display: inline-block;

                font: normal normal normal 18px FontAwesome;
            }
        }

        main {
            border: 1px solid #cdcde5;
            border-collapse: collapse;
            border-radius: 5px;
            background-color: $white-color;

            @import 'headerSection.scss';
            @import 'uploadSection.scss';
            @import 'languageSection.scss';

            .sectionBlock{
                display: flex;
                justify-content: flex-start;
            }
            @import 'toneSection.scss';
            @import 'urgentSection.scss';
            @import 'signUpSection.scss';
            @import 'translateSection.scss';

            .mainHeaderTitle {
                letter-spacing: .06em;
                text-transform: uppercase;

                font-size: .8em;
                font-weight: bold;
            }

            .button__remove {
                opacity: .8;
                border: none;
                outline: none;

                &:hover {
                    opacity: 1;
                }
            }

            input[type='radio'] {
                z-index: -1;

                opacity: 0;
            }

            .section {
                counter-increment: section;
            }

            .button__add {
                margin-left: 12px;
                padding: 19px 34px 18px 55px;

                opacity: .8;
                outline: none;
                background-color: #f7f7f9;
                &:hover {
                    opacity: 1;
                }
                .fa-plus {
                    top: 19px;
                    left: 31px;

                    font-size: 14px;
                }
            }

            .fa-trash {
                opacity: .5;

                font-size: 18px;
            }

            .sectionHeader {
                position: relative;

                font-size: 1.5em;

                &:before {
                    position: absolute;
                    top: -8px;
                    left: -69px;

                    width: 41px;
                    height: 41px;

                    content: counter(section);
                    text-align: center;

                    border: .06em solid #6e768f;
                    border-radius: 50%;

                    font-size: .8em;
                    line-height: 2.1em;
                }
            }
        }
    }
}
