.content {
  width: 79%;
  margin: 0 auto;
  font-family: 'Nunito Sans', sans-serif;
  color: #6e758f; }
  .content .headerTitle {
    position: relative;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .06em; }
    .content .headerTitle::before {
      content: "";
      display: block;
      position: absolute;
      background-size: cover; }
  .content header {
    display: flex;
    width: 100%;
    border: 1px solid #cdcde5; }
    .content header .orderInfo {
      flex: 1;
      padding-left: 6.1%;
      padding-top: 1.2%;
      border-right: 1px solid #cdcde5;
      padding-bottom: 1.3%; }
      .content header .orderInfo .orderDescription {
        display: inline-block;
        width: 70%; }
        .content header .orderInfo .orderDescription .orderTitle::before {
          background: url(https://png.icons8.com/material/26/6c748d/file.png);
          height: 25px;
          width: 20px;
          top: -8px;
          left: -35px; }
        .content header .orderInfo .orderDescription .orderDetails {
          list-style-type: none;
          padding: 0;
          overflow: hidden;
          margin-top: 6.8%;
          margin-left: 0.3%; }
          .content header .orderInfo .orderDescription .orderDetails .detailsList {
            display: inline-block;
            margin-left: 11%; }
            .content header .orderInfo .orderDescription .orderDetails .detailsList .detailsHeader {
              font-size: 0.8em;
              text-transform: uppercase;
              font-weight: bold;
              letter-spacing: 0.04em;
              padding-bottom: 13px; }
            .content header .orderInfo .orderDescription .orderDetails .detailsList .detailsInfo {
              color: #aaaac6;
              font-size: 0.8em; }
              .content header .orderInfo .orderDescription .orderDetails .detailsList .detailsInfo .unitsSpecial {
                position: relative; }
                .content header .orderInfo .orderDescription .orderDetails .detailsList .detailsInfo .unitsSpecial:after {
                  content: '*';
                  font-size: 0.7em;
                  display: block;
                  position: absolute;
                  top: 3px;
                  right: -4px; }
            .content header .orderInfo .orderDescription .orderDetails .detailsList:first-child {
              margin-left: 0; }
      .content header .orderInfo .buttonsContainer {
        display: inline-block;
        width: 25%;
        margin-left: 4px; }
        .content header .orderInfo .buttonsContainer .button {
          text-transform: uppercase;
          border-radius: 3%;
          color: #aaaac6;
          line-height: 47px;
          padding-top: 1px;
          background-color: #f7f7f9;
          border: 1px solid #d9d8de;
          margin-bottom: 5%;
          width: 170px;
          margin-top: 11px;
          display: block;
          letter-spacing: 0.14em; }
          .content header .orderInfo .buttonsContainer .button:hover {
            color: #fff;
            background-color: #60cac6;
            border-color: #55aba8; }
    .content header .helpInfo {
      width: 31%; }
      .content header .helpInfo .helpContent {
        margin-left: 20.5%;
        margin-top: 8.2%; }
        .content header .helpInfo .helpContent .helpHeader::before {
          background: url(https://png.icons8.com/windows/26/767d94/lifebuoy.png);
          width: 25px;
          height: 25px;
          top: -9px;
          left: -43px; }
        .content header .helpInfo .helpContent .helpDescription {
          margin-top: 5.2%;
          font-size: .8em;
          max-width: 235px;
          line-height: 1.4em;
          padding-bottom: 5%; }
      .content header .helpInfo adress a {
        font-weight: bold;
        text-decoration: none;
        color: #6e758f;
        font-size: 0.8em; }
      .content header .helpInfo adress .helpPhone {
        margin-right: 4%; }
  .content .selectTranslateItem {
    text-align: center; }
    .content .selectTranslateItem .selectTranslateHeader {
      display: inline-block;
      font-size: 1.2em;
      text-transform: uppercase;
      margin-top: 9.2%;
      letter-spacing: .17em;
      border-bottom: 1px solid #cdcde5;
      padding-bottom: 1%; }
    .content .selectTranslateItem .translateItems {
      display: block;
      margin-top: 6.4%; }
      .content .selectTranslateItem .translateItems input[type="radio"] {
        display: none; }
      .content .selectTranslateItem .translateItems .translateItem {
        box-sizing: border-box;
        display: inline-block;
        width: 24.8%;
        border: 1px solid #cdcde5;
        height: 202px;
        border-radius: 3%;
        margin-left: 2%; }
        .content .selectTranslateItem .translateItems .translateItem .itemImage {
          display: block;
          width: 94px;
          height: 106px;
          margin-top: 11%;
          margin-left: 33%; }
          .content .selectTranslateItem .translateItems .translateItem .itemImage.websiteItemImage {
            background: url(../img/website.png) no-repeat;
            background-size: contain; }
          .content .selectTranslateItem .translateItems .translateItem .itemImage.documentsItemImage {
            background: url(../img/documents.png) no-repeat;
            background-size: contain; }
          .content .selectTranslateItem .translateItems .translateItem .itemImage.socialAccountItemImage {
            background: url(../img/social_account.png) no-repeat;
            background-size: contain; }
        .content .selectTranslateItem .translateItems .translateItem .itemDescription {
          text-transform: capitalize;
          margin-top: 6.3%;
          letter-spacing: 0.05em;
          margin-left: -2%; }
        .content .selectTranslateItem .translateItems .translateItem:hover {
          position: relative;
          border: 6px solid #76a7e1; }
          .content .selectTranslateItem .translateItems .translateItem:hover:after {
            content: "\2713";
            display: block;
            position: absolute;
            top: -17px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #76a7e1;
            right: -14px;
            color: #fff;
            line-height: 32px; }

/*# sourceMappingURL=style.css.map */
