.content {
  width: 79%;
  margin: 0 auto;
  font-family: 'Nunito Sans', sans-serif;
  color: #6e758f;
  .headerTitle {
    position: relative;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .06em;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background-size: cover;
    }
  }

  header {
    display: flex;
    width: 100%;
    border: 1px solid #cdcde5;

    .orderInfo {
      flex: 1;
      padding-left: 6.1%;
      padding-top: 1.2%;
      border-right: 1px solid #cdcde5;
      padding-bottom: 1.3%;

      .orderDescription {
        display: inline-block;
        width: 70%;

        .orderTitle {

          &::before {
            background: url(https://png.icons8.com/material/26/6c748d/file.png);
            height: 25px;
            width: 20px;
            top: -8px;
            left: -35px;
          }
        }

        .orderDetails {
          list-style-type: none;
          padding: 0;
          overflow: hidden;
          margin-top: 6.8%;
          margin-left: 0.3%;

          .detailsList {
            display: inline-block;
            margin-left: 11%;

            .detailsHeader {
              font-size: 0.8em;
              text-transform: uppercase;
              font-weight: bold;
              letter-spacing: 0.04em;
              padding-bottom: 13px;
            }
            .detailsInfo {
              color: #aaaac6;
              font-size: 0.8em;

              .unitsSpecial {
                position: relative;
                &:after {
                  content: '*';
                  font-size: 0.7em;
                  display: block;
                  position: absolute;
                  top: 3px;
                  right: -4px;
                }
              }
            }
            &:first-child {
              margin-left: 0;
            }

          }
        }
      }
      .buttonsContainer {
        display: inline-block;
        width: 25%;
        margin-left: 4px;

        .button {
          text-transform: uppercase;
          border-radius: 3%;
          color: #aaaac6;
          line-height: 47px;
          padding-top: 1px;
          background-color: #f7f7f9;
          border: 1px solid #d9d8de;
          margin-bottom: 5%;
          width: 170px;
          margin-top: 11px;
          display: block;
          letter-spacing: 0.14em;;
          &:hover {
            color: #fff;
            background-color: #60cac6;
            border-color: #55aba8;
          }
        }
      }
    }
    .helpInfo {
      width: 31%;
      .helpContent {
        margin-left: 20.5%;
        margin-top: 8.2%;

        .helpHeader {
          &::before {
            background: url(https://png.icons8.com/windows/26/767d94/lifebuoy.png);
            width: 25px;
            height: 25px;
            top: -9px;
            left: -43px;
          }
        }
        .helpDescription {
          margin-top: 5.2%;
          font-size: .8em;
          max-width: 235px;
          line-height: 1.4em;
          padding-bottom: 5%;
        }
      }
      adress {
        a {
          font-weight: bold;
          text-decoration: none;
          color: #6e758f;
          font-size: 0.8em;
        }
        .helpPhone {
          margin-right: 4%;
        }
      }
    }
  }

  .selectTranslateItem {
    text-align: center;
    .selectTranslateHeader {
      display: inline-block;
      font-size: 1.2em;
      text-transform: uppercase;
      margin-top: 9.2%;
      letter-spacing: .17em;
      border-bottom: 1px solid #cdcde5;
      padding-bottom: 1%;
    }
    .translateItems {
      display: block;
      margin-top: 6.4%;
      input[type="radio"] {
        display: none;
      }
      .translateItem {
        box-sizing: border-box;
        display: inline-block;
        width: 24.8%;
        border: 1px solid #cdcde5;
        height: 202px;
        border-radius: 3%;
        margin-left: 2%;

        .itemImage {
          display: block;
          width: 94px;
          height: 106px;
          margin-top: 11%;
          margin-left: 33%;
          &.websiteItemImage {
            background: url(../img/website.png) no-repeat;
            background-size: contain;
          }
          &.documentsItemImage {
            background: url(../img/documents.png) no-repeat;
            background-size: contain;
          }
          &.socialAccountItemImage {
            background: url(../img/social_account.png) no-repeat;
            background-size: contain;
          }
        }
        .itemDescription {
          text-transform: capitalize;
          margin-top: 6.3%;
          letter-spacing: 0.05em;
          margin-left: -2%;
        }

        &:hover {
          position: relative;
          border: 6px solid #76a7e1;
          &:after {
            content: "\2713";
            display: block;
            position: absolute;
            top: -17px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #76a7e1;
            right: -14px;
            color: #fff;
            line-height: 32px;
          }
        }

      }

    }
  }
}

//input[type=range] {
//  -webkit-appearance: none;
//  width: 100%;
//  margin-top: 50px;
//  position: relative;
//}
//
//input[type=range]::after {
//  content: "";
//  display: block;
//  width: 20px;
//  height: 20px;
//  border-radius: 10px;
//  background-color: black;
//  position: absolute;
//  z-index: 1;
//}
//
//input[type=range]::before {
//  content: "";
//  display: block;
//  width: 20px;
//  height: 20px;
//  border-radius: 10px;
//  background-color: black;
//  position: absolute;
//  right: 0;
//  z-index: 1;
//}
//
//input[type=range]::-webkit-slider-thumb {
//  -webkit-appearance: none;
//  width: 40px;
//  height: 40px;
//  border-radius: 20px;
//  background: orange;
//  margin-top: -17px;
//  z-index: 2;
//  position: relative;
//}
//
//input[type=range]::-webkit-slider-runnable-track {
//  -webkit-appearance: none;
//  width: 300px;
//  background: grey;
//  height: 10px;
//  border-radius: 2.5px;
//}
