html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: #fef1e0; }
  .wrapper .content {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px; }
    .wrapper .content .fa {
      padding-right: 8px; }
    .wrapper .content header {
      display: grid;
      width: 100%;
      background-image: url(../img/header-bg.jpg);
      font-size: 15px;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); }
      .wrapper .content header .timeBlock {
        margin-left: 60px;
        cursor: pointer; }
        .wrapper .content header .timeBlock:hover {
          color: #c29c5b;
          transition: 500ms linear; }
      .wrapper .content header .logo {
        display: block;
        cursor: pointer;
        justify-self: center; }
        .wrapper .content header .logo .logoImage {
          width: 200px;
          padding-top: 10px;
          padding-bottom: 10px;
          opacity: 1; }
          .wrapper .content header .logo .logoImage:hover {
            opacity: 0.8;
            transition: 500ms linear; }
      .wrapper .content header .logInBlock {
        margin-right: 60px;
        cursor: pointer;
        justify-self: end; }
        .wrapper .content header .logInBlock:hover {
          color: #c29c5b;
          transition: 500ms linear; }
      .wrapper .content header .fa {
        font-size: 18px; }
    @media screen and (min-width: 300px) and (max-width: 767px) {
      .wrapper .content header .timeBlock {
        display: none; }
      .wrapper .content header .logo {
        display: block;
        cursor: pointer;
        justify-self: center;
        align-items: center; }
      .wrapper .content header .logInBlock {
        margin-top: 2%;
        cursor: pointer;
        justify-self: center;
        align-self: center;
        grid-row: 2;
        padding-bottom: 15px;
        margin-right: 0; } }
    .wrapper .content main {
      padding: 40px 30px 0;
      font-family: 'Ubuntu', sans-serif; }
      .wrapper .content main .button {
        position: relative;
        display: block;
        overflow: visible;
        /* IE9 & 10 */
        max-width: 200px;
        cursor: pointer;
        transition: 500ms linear;
        color: #fef1e0;
        border: 1px solid #fef1e0;
        border-radius: 5px;
        outline: none;
        background-color: #c29c5b;
        box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.25), inset 0 0 6px #a23227, inset 0 80px 80px -40px #ac3223, 1px 1px 3px rgba(0, 0, 0, 0.75);
        /* shadow */
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
        font-size: 14px; }
        .wrapper .content main .button:hover {
          background: #a61715;
          box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.25), inset 0 0 6px #da3b2c, inset 0 80px 80px -40px #dd4330, 1px 1px 3px rgba(0, 0, 0, 0.75);
          /* shadow */
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75), 0 0 40px #ffffff; }
        .wrapper .content main .button.button__add {
          margin: 0 auto;
          padding: 20px 30px; }
      .wrapper .content main .pizzaSection {
        display: grid;
        margin-top: 40px;
        align-items: center;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 3%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
        justify-content: center; }
        .wrapper .content main .pizzaSection .pizzaItem {
          display: grid;
          margin-bottom: 12%;
          cursor: pointer;
          color: #fef1e0;
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.87);
          font-size: 15px;
          align-items: center;
          grid-gap: 15px;
          grid-template-columns: 1fr 1fr;
          justify-items: center; }
          .wrapper .content main .pizzaSection .pizzaItem .pizzaItemImg {
            width: 100%;
            margin-bottom: 15px;
            border-radius: 5px 5px 0 0;
            grid-column: span 2; }
          .wrapper .content main .pizzaSection .pizzaItem span {
            padding-bottom: 15px; }
          .wrapper .content main .pizzaSection .pizzaItem:hover {
            color: #c29c5b;
            transition: 500ms linear; }
  .wrapper footer {
    display: grid;
    height: 80px;
    color: #fef1e0;
    background-image: url(../img/header-bg.jpg);
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr; }
    .wrapper footer:hover {
      color: #c29c5b; }
    .wrapper footer .phoneNumber {
      cursor: pointer;
      text-decoration: none;
      color: #fef1e0;
      justify-items: center; }
      .wrapper footer .phoneNumber:hover {
        color: #c29c5b;
        transition: 500ms linear; }
    .wrapper footer adress {
      margin: 0 auto; }
      .wrapper footer adress .organization {
        font-weight: 600; }
      .wrapper footer adress:first-child {
        margin-left: 60px; }
    .wrapper footer .copyright {
      margin-right: 60px;
      justify-self: end; }
      .wrapper footer .copyright .copyrightSign {
        font-weight: 300; }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .wrapper footer {
      display: grid;
      height: 80px;
      color: #fef1e0;
      background-image: url(../img/header-bg.jpg);
      font-family: Ubuntu, sans-serif;
      font-size: 15px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      grid-template-columns: 1fr;
      justify-items: center; }
      .wrapper footer adress {
        margin: 0; }
        .wrapper footer adress:first-child {
          margin-left: 0; }
      .wrapper footer .copyright {
        margin-right: 0px;
        justify-self: center; } }

/*# sourceMappingURL=style.css.map */
