@import "reset.scss";

header {
  width: 100%;
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  .logo {
    display: block;
    width: 150px;
  }
}

main {
  margin-top: 40px;
  padding: 0 30px;
  .button {
    display: block;
    max-width: 200px;
    background-color: hotpink;
    &.button__add {
      margin: 0 auto;
      padding: 20px 20px;
    }
  }
  .pizzaSection {
    margin-top: 30px;
    background-color: palegoldenrod;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    align-items: center;

    .pizzaItem {
      background-color: #444;
      color: #fff;
      border-radius: 5px;
      padding: 20px;
      display: grid;
      grid-gap: 15px;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
      .pizzaItemImg {
        grid-column: span 2;
        width: 150px;
      }
      .pizzaItemTimer{

      }
    }
  }
}



