.dribbleHeader {
    padding-top: 64px;
    padding-bottom: 63px;
    nav {
        display: flex;

        align-items: center;
        justify-content: space-between;

        .button {
            padding: 18px 16px 14px 46px;

            line-height: 18px;
        }

        .dribbleHeader_button__logo {
            height: 100px;

            opacity: .8;

            &:hover {
                opacity: 1;
            }
        }
    }
}
