.wrapperContainer {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #edeef3;
  box-sizing: border-box; }
  .wrapperContainer .wrapperContainer_content {
    width: 79.1%;
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif;
    color: #6e758f; }
    .wrapperContainer .wrapperContainer_content .button {
      position: relative;
      display: inline-block;
      cursor: pointer;
      text-transform: uppercase;
      border-radius: 5px;
      letter-spacing: .14em;
      outline: none;
      transition: all .2s;
      text-decoration: none;
      color: inherit;
      border: 1px solid #d9d8de;
      font-weight: 600;
      font-size: .7em;
      text-align: center;
      min-width: 100px; }
      .wrapperContainer .wrapperContainer_content .button:hover {
        color: #fff;
        background-color: #60cac6;
        border-color: #55aba8; }
      .wrapperContainer .wrapperContainer_content .button .fa {
        display: inline-block;
        font: normal normal normal 18px FontAwesome;
        position: absolute;
        left: 33px; }
    .wrapperContainer .wrapperContainer_content .dribbleHeader {
      padding-top: 64px;
      padding-bottom: 63px; }
      .wrapperContainer .wrapperContainer_content .dribbleHeader nav {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .wrapperContainer .wrapperContainer_content .dribbleHeader nav .button {
          padding: 18px 16px 14px 46px;
          line-height: 18px; }
        .wrapperContainer .wrapperContainer_content .dribbleHeader nav .dribbleHeader_button__logo {
          height: 100px; }
    .wrapperContainer .wrapperContainer_content main {
      border: 1px solid #cdcde5;
      border-collapse: collapse;
      background-color: #fff; }
      .wrapperContainer .wrapperContainer_content main .mainHeaderTitle {
        font-size: 0.8em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .06em; }
      .wrapperContainer .wrapperContainer_content main .button__remove {
        border: none;
        outline: none;
        opacity: 0.8; }
        .wrapperContainer .wrapperContainer_content main .button__remove:hover {
          opacity: 1; }
      .wrapperContainer .wrapperContainer_content main input[type="radio"] {
        display: none; }
      .wrapperContainer .wrapperContainer_content main .button__add {
        margin-left: 12px;
        padding: 19px 34px 18px 55px;
        outline: none;
        opacity: 0.8; }
        .wrapperContainer .wrapperContainer_content main .button__add:hover {
          opacity: 1; }
        .wrapperContainer .wrapperContainer_content main .button__add .fa-plus {
          font-size: 14px; }
      .wrapperContainer .wrapperContainer_content main .fa-trash {
        font-size: 18px;
        opacity: 0.5; }
      .wrapperContainer .wrapperContainer_content main .sectionHeader {
        position: relative;
        font-size: 1.5em; }
        .wrapperContainer .wrapperContainer_content main .sectionHeader:before {
          counter-increment: section;
          font-size: .8em;
          content: counter(section);
          position: absolute;
          border-radius: 50%;
          border: .06em solid #6e768f;
          height: 41px;
          width: 41px;
          text-align: center;
          line-height: 2.1em;
          left: -69px;
          top: -8px; }
      .wrapperContainer .wrapperContainer_content main .headerSection {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #cdcde5; }
        .wrapperContainer .wrapperContainer_content main .headerSection .orderInfoBlock {
          position: relative;
          display: flex;
          width: 69%;
          padding-top: 14px;
          border-right: 1px solid #cdcde5;
          padding-bottom: 10px; }
          .wrapperContainer .wrapperContainer_content main .headerSection .orderInfoBlock .orderDescription {
            display: inline-block;
            flex-grow: 100;
            margin-top: 20px;
            margin-left: 72px;
            flex-wrap: wrap; }
            .wrapperContainer .wrapperContainer_content main .headerSection .orderInfoBlock .orderDescription .orderTitle {
              position: relative; }
            .wrapperContainer .wrapperContainer_content main .headerSection .orderInfoBlock .orderDescription .fa-file {
              font-size: 20px;
              position: absolute;
              top: 29px;
              left: 39px; }
            .wrapperContainer .wrapperContainer_content main .headerSection .orderInfoBlock .orderDescription .orderDetails {
              list-style-type: none;
              padding: 0;
              overflow: hidden;
              margin-top: 7.4%;
              margin-left: .35%;
              font-size: 0.9em;
              letter-spacing: 0.05em; }
              .wrapperContainer .wrapperContainer_content main .headerSection .orderInfoBlock .orderDescription .orderDetails .detailsList {
                display: inline-block;
                margin-left: 11.2%; }
                .wrapperContainer .wrapperContainer_content main .headerSection .orderInfoBlock .orderDescription .orderDetails .detailsList .detailsHeader {
                  font-size: .8em;
                  text-transform: uppercase;
                  font-weight: 700;
                  letter-spacing: .04em;
                  padding-bottom: 13px; }
                .wrapperContainer .wrapperContainer_content main .headerSection .orderInfoBlock .orderDescription .orderDetails .detailsList .detailsInfo {
                  color: #aaaac6;
                  font-size: 0.8em; }
                  .wrapperContainer .wrapperContainer_content main .headerSection .orderInfoBlock .orderDescription .orderDetails .detailsList .detailsInfo .unitsSpecial {
                    position: relative; }
                    .wrapperContainer .wrapperContainer_content main .headerSection .orderInfoBlock .orderDescription .orderDetails .detailsList .detailsInfo .unitsSpecial:after {
                      content: '*';
                      font-size: 0.7em;
                      display: block;
                      position: absolute;
                      top: 3px;
                      right: -4px; }
                .wrapperContainer .wrapperContainer_content main .headerSection .orderInfoBlock .orderDescription .orderDetails .detailsList:first-child {
                  margin-left: 0; }
          .wrapperContainer .wrapperContainer_content main .headerSection .orderInfoBlock .buttonsContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            width: 25%;
            margin-right: 34px;
            margin-top: 11px; }
            .wrapperContainer .wrapperContainer_content main .headerSection .orderInfoBlock .buttonsContainer .button {
              min-width: 170px;
              margin-bottom: 12px;
              line-height: 47px; }
        .wrapperContainer .wrapperContainer_content main .headerSection .helpInfoBlock {
          width: 31%; }
          .wrapperContainer .wrapperContainer_content main .headerSection .helpInfoBlock .helpHeader {
            letter-spacing: .01em; }
          .wrapperContainer .wrapperContainer_content main .headerSection .helpInfoBlock .helpContent {
            margin-left: 74px;
            margin-top: 29px;
            position: relative; }
            .wrapperContainer .wrapperContainer_content main .headerSection .helpInfoBlock .helpContent .fa-life-ring {
              font-size: 20px;
              position: absolute;
              top: -5px;
              left: -40px; }
            .wrapperContainer .wrapperContainer_content main .headerSection .helpInfoBlock .helpContent .helpDescription {
              margin-top: 12px;
              font-size: .8em;
              max-width: 235px;
              line-height: 1.41em;
              padding-bottom: 14px; }
          .wrapperContainer .wrapperContainer_content main .headerSection .helpInfoBlock adress {
            margin-left: -1px; }
            .wrapperContainer .wrapperContainer_content main .headerSection .helpInfoBlock adress a {
              font-weight: bold;
              text-decoration: none;
              color: #6e758f;
              font-size: 0.8em; }
            .wrapperContainer .wrapperContainer_content main .headerSection .helpInfoBlock adress .helpPhone {
              margin-right: 4%; }
      .wrapperContainer .wrapperContainer_content main .translateSection {
        text-align: center; }
        .wrapperContainer .wrapperContainer_content main .translateSection .translateHeader {
          display: inline-block;
          font-size: 1.2em;
          text-transform: uppercase;
          margin-top: 105px;
          letter-spacing: .171em;
          border-bottom: 1px solid #cdcde5;
          padding-bottom: 12px; }
        .wrapperContainer .wrapperContainer_content main .translateSection .translateItems {
          display: block;
          margin-top: 72px; }
          .wrapperContainer .wrapperContainer_content main .translateSection .translateItems .translateItem {
            position: relative;
            box-sizing: border-box;
            display: inline-block;
            border: 6px solid transparent;
            width: 24.8%;
            height: 202px;
            border-radius: 3%;
            margin-left: 2%;
            cursor: pointer; }
            .wrapperContainer .wrapperContainer_content main .translateSection .translateItems .translateItem:before {
              content: "";
              display: block;
              position: absolute;
              border: 1px solid #cdcde5;
              top: -6px;
              left: -6px;
              right: -6px;
              bottom: -6px;
              border-radius: 5px; }
            .wrapperContainer .wrapperContainer_content main .translateSection .translateItems .translateItem .imageItem {
              display: block;
              width: 95px;
              height: 105px;
              margin-top: 26px;
              margin-left: 89px; }
              .wrapperContainer .wrapperContainer_content main .translateSection .translateItems .translateItem .imageItem.websiteImageItem {
                background: url(../img/website.png) no-repeat;
                background-size: contain; }
              .wrapperContainer .wrapperContainer_content main .translateSection .translateItems .translateItem .imageItem.documentsImageItem {
                background: url(../img/documents.png) no-repeat;
                background-size: contain; }
              .wrapperContainer .wrapperContainer_content main .translateSection .translateItems .translateItem .imageItem.socialAccountImageItem {
                background: url(../img/social_account.png) no-repeat;
                background-size: contain; }
            .wrapperContainer .wrapperContainer_content main .translateSection .translateItems .translateItem .itemDescription {
              text-transform: capitalize;
              margin-top: 18px;
              letter-spacing: .04em;
              margin-left: -1px; }
            .wrapperContainer .wrapperContainer_content main .translateSection .translateItems .translateItem:hover {
              position: relative;
              border: 6px solid #76a7e1; }
              .wrapperContainer .wrapperContainer_content main .translateSection .translateItems .translateItem:hover:after {
                font-family: FontAwesome;
                font-weight: 900;
                content: "\f00c";
                position: absolute;
                top: -1.1em;
                right: -0.9em;
                color: #fff;
                font-size: 100%;
                z-index: 2;
                line-height: 2em;
                height: 2em;
                width: 2em;
                text-align: center;
                border-radius: 50%;
                background: #76a7e1; }
      .wrapperContainer .wrapperContainer_content main .uploadSection {
        margin-top: 109px; }
        .wrapperContainer .wrapperContainer_content main .uploadSection .uploadHeader {
          margin-left: 129px; }
          .wrapperContainer .wrapperContainer_content main .uploadSection .uploadHeader .uploadHeader__formats {
            text-transform: capitalize;
            font-size: 0.6em;
            font-weight: 300; }
        .wrapperContainer .wrapperContainer_content main .uploadSection .uploadFileBtn {
          display: none; }
        .wrapperContainer .wrapperContainer_content main .uploadSection .uploadFileBtnLabel {
          position: relative;
          display: inline-block;
          margin-top: 55px;
          margin-left: 130px;
          padding: 19px 37px 15px 67px;
          font-size: 1em; }
          .wrapperContainer .wrapperContainer_content main .uploadSection .uploadFileBtnLabel .uploadFileBtnText {
            font-size: 1em;
            letter-spacing: 0;
            font-weight: 400;
            text-transform: initial; }
          .wrapperContainer .wrapperContainer_content main .uploadSection .uploadFileBtnLabel .fa-cloud-upload {
            font-size: 18px;
            position: absolute;
            left: 32px;
            top: 17px; }
        .wrapperContainer .wrapperContainer_content main .uploadSection .uploadFiles {
          margin: 39px 130px;
          border: 1px solid #cdcde5;
          text-align: left;
          width: 79.21%;
          border-radius: 5px; }
          .wrapperContainer .wrapperContainer_content main .uploadSection .uploadFiles .uploadFilesHeader {
            text-transform: uppercase;
            font-size: .7em;
            letter-spacing: 0.11em; }
            .wrapperContainer .wrapperContainer_content main .uploadSection .uploadFiles .uploadFilesHeader th {
              padding-top: 31px;
              padding-left: 44px; }
          .wrapperContainer .wrapperContainer_content main .uploadSection .uploadFiles tr td {
            padding-left: 44px;
            padding-top: 22px; }
            .wrapperContainer .wrapperContainer_content main .uploadSection .uploadFiles tr td .fa-file-text {
              font-size: 1.15em;
              padding-right: 20px; }
          .wrapperContainer .wrapperContainer_content main .uploadSection .uploadFiles tr:last-child td {
            padding-bottom: 30px; }
          .wrapperContainer .wrapperContainer_content main .uploadSection .uploadFiles .button__remove {
            margin-left: 12px; }
      .wrapperContainer .wrapperContainer_content main .languageSection {
        margin-top: 110px;
        margin-left: 136px; }
        .wrapperContainer .wrapperContainer_content main .languageSection .languageHeader {
          margin-bottom: 54px; }
        .wrapperContainer .wrapperContainer_content main .languageSection .legend {
          position: absolute;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: .05em;
          top: 20px; }
          .wrapperContainer .wrapperContainer_content main .languageSection .legend.legendFor {
            left: -56px; }
          .wrapperContainer .wrapperContainer_content main .languageSection .legend.legendTo {
            left: -38px; }
        .wrapperContainer .wrapperContainer_content main .languageSection .languageSelectLabel:after {
          position: absolute;
          content: "";
          display: block;
          top: 0;
          bottom: 0;
          left: 150px;
          border: 1px solid #d9d8de; }
        .wrapperContainer .wrapperContainer_content main .languageSection .languageSelectLabel .fa-caret-down {
          position: absolute;
          z-index: 2;
          top: 18px;
          left: 169px; }
        .wrapperContainer .wrapperContainer_content main .languageSection .languageSelectLabel .languageSelect {
          outline: none;
          position: relative;
          -webkit-appearance: none;
          display: inline-block;
          padding: 15px 86px 17px 52px;
          border-radius: 5px;
          border: 1px solid #d9d8de;
          font-weight: 400;
          font-size: 16px;
          background: #f7f7fa;
          color: inherit;
          cursor: pointer;
          transition: all .2s; }
        .wrapperContainer .wrapperContainer_content main .languageSection .selectBlock {
          position: relative;
          margin-left: 56px;
          margin-bottom: 40px; }
        .wrapperContainer .wrapperContainer_content main .languageSection .selectBlock_group {
          display: inline-block; }
          .wrapperContainer .wrapperContainer_content main .languageSection .selectBlock_group.selectBlock_group__add {
            margin-left: 20px; }
      .wrapperContainer .wrapperContainer_content main .toneSection {
        display: block;
        margin-left: 129px;
        margin-top: 61px;
        width: 40%; }
        .wrapperContainer .wrapperContainer_content main .toneSection .toneTypeContainer {
          margin-top: 46px; }
          .wrapperContainer .wrapperContainer_content main .toneSection .toneTypeContainer .toneTypeBlock {
            margin-bottom: 22px; }
            .wrapperContainer .wrapperContainer_content main .toneSection .toneTypeContainer .toneTypeBlock .toneTypeBtnLabel {
              text-transform: capitalize;
              padding: 27px 47px 25px 78px;
              font-size: 16px;
              letter-spacing: -0.1px; }
              .wrapperContainer .wrapperContainer_content main .toneSection .toneTypeContainer .toneTypeBlock .toneTypeBtnLabel .fa {
                left: 38px;
                font-size: 20px;
                top: 25px; }

/*# sourceMappingURL=style.css.map */
