@import "./variables";

.wrapper {
  height: 100%;

  color: $text-color;

  font-family: $main-font;
}
.content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;

  .fa {
    padding-right: 8px;
  }
}


