body {
  background-size: 100%;
  background-image: url(../img/stormy_clouds.jpg);
}

.wrapper {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

  .appsName {
    transition: box-shadow .5s;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, .54);
    text-align: center;

    .title {
      font-size: 2.2em;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .54);
      line-height: 2em;

    }
  }

  .searchContainer {
    text-align: center;
    margin-top: 4%;

    .additionalBtn {
      display: inline-block;
      margin-right: 5px;

      .addFuncBtn {
        background-color: rgba(0, 0, 0, .54);
        border-width: 0;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        border-radius: 4px;
        padding-top: 7px;
        padding-bottom: 7px;
        vertical-align: middle;
        outline: none;

        .favoriteCity {
          margin-right: 10px;
        }
      }
    }

    .enterWeather {
      display: inline-block;
      width: 400px;
      height: 32px;
      border: 1px solid #ccc;
      font-size: 1em;
      padding: 3px 10px;
      font-weight: 300;
      border-radius: 4px;
    }

    .searchWeather__button {
      display: inline-block;
      background-color: #3775dd;
      box-shadow: 0 2px #21487f;
      border-color: transparent;
      color: #fff;
      font-size: 1em;
      line-height: 32px;
      margin-left: 5px;
      margin-right: 0;
      min-width: 92px;
      padding-left: 14px;
      padding-right: 14px;
      text-align: center;
      font-weight: 300;
      outline: none;
      box-sizing: content-box;
      border-radius: 4px;
      cursor: pointer;
      vertical-align: top;
    }

  }

  .currentCityWeather {
    //display: none;
    display: block;
    text-align: center;
    margin-top: 4%;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.54);

    .currentCityName {
      font-size: 3em;
      font-weight: 400;
    }
    .currentRegion {
      font-size: 1.5em;
      font-weight: 100;
      line-height: 1.7em;
    }

    .currentDate {
      display: block;
      font-weight: 100;
      font-size: 1em;

    }

    .weatherDescription {
      margin-top: 1em;
      .description {
        font-size: 1.6em;
        font-weight: 400;
      }
    }
    .temperature {
      display: inline-block;
      font-weight: 100;
      .temperatureValue {
        font-size: 8em;
      }
      .degreeIcon {
        vertical-align: top;
        font-size: 7em;
      }
    }
    .unit-control {
      display: inline-block;
      margin-left: -2px;

      .measure {
        border-color: transparent;
        text-transform: capitalize;
        background-color: transparent;
        padding: 1px;
        outline: none;
        display: block;
        font-size: 1.6em;
        font-weight: 300;
        color: #fff;
      }
      .fahrenheit {
        color: #878c93;
      }
    }
  }

  .detailedInfo {
    //display: none;
    display: block;
    text-align: center;
    margin-top: 4%;

    .addFuncBlock {
      display: inline-block;
      background-color: rgba(0, 0, 0, .54);
      max-width: 40%;
      padding: 10px;
      margin: 10px;

      .titleFuncBlock {
        color: #fff;
        border-bottom: 1px solid #fff;
        font-weight: 300;
        font-size: 1.3em;
        margin-bottom: 4px;
        padding-bottom: 4px;
        line-height: 1.5em;
      }
    }
  }

}


